.emoji,
.temperature {
  font-size: 50px;
}
.weatherBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  margin: 30px;
}
