.activity-form {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  position: fixed;
  bottom: 60px;
  background: linear-gradient(
    to bottom,
    rgba(173, 216, 230, 0) 0%,
    lightblue 15%
  );
}

.activity-form__new-activity {
  width: 320px;
  display: flex;
  justify-content: center;
}

.activity-form__activity-bar {
  width: 320px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.activity-form__submit-button {
  background-color: white;
  width: 100px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.activity-form__submit-button:hover {
  background-color: #e3e3e3;
}

#activityInput {
  background-color: white;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  outline: none;
}
